/* ==========================================================================
   HEADER
   ========================================================================== */

@images: "../img/home-bg.jpg";

#intro-header{
	background-image: url('../img/home-bg.jpg')
}

#portal-logo{
	img{
		max-width: 150px;
		margin: 10px 20px;
	}
}

.intro-header-pill{
	& h1 {
		font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight: 800;
		margin-top: 40px;
		
		color: gray;
		text-align: left;

		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
	& .subheading {
		font-size: 24px;
		line-height: 1.1;
		display: block;
		font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight: 300;
		margin: 10px 0 0;
		margin-bottom: 10px;

		color: gray;
		text-align: left;

		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
	& hr.small {
		display: none;
	}
}

