/* ==========================================================================
   NAVBAR
   ========================================================================== */

/*
nav.navbar {
	.plone-toolbar-left & {
		padding-left: @plone-left-toolbar;
	}

	.plone-toolbar-left-expanded & {
		padding-left: @plone-left-toolbar-expanded;
	}
}
*/

